---

---
$color-primary:#eee;
$color-secondary:#444;
$color-article-background: #ddd;
$color-article-text: #333;


@font-face {
  font-family: "OpenSans";
  src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}

html, body{
  width:100%;
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
  color:#444;
  transition: color .3s ease;
  font-weight:700;
}

a:hover{
  color:#888;
  transition:color .3s ease;
}

nav{
  background: $color-article-background;
  padding: 12px 0px;
}

nav a{
  text-transform: capitalize;
  padding: 15px;
}

section{
  background: $color-primary;
}

header{
  background:#aaa;
  background: URL("../images/bandeau.jpg");
  background-size: cover;
  color:#fff;
  font-family: "OpenSans";
}

header h1{
  margin:0;
}

h2{
  margin:0;
  padding: 20px 0;
}

footer{
  color: $color-primary;
  background: $color-secondary;
  padding: 1% 0;
  text-align: center;
}

main{
  max-width:45rem;
  margin:auto;
}

.clearfix{
  clear: both;
}

.col-4-12{
  width: 29.33%;
}

.col{
  box-sizing: border-box;
  padding: 2%;
  margin: 0 2%;
  font-size: .7em;
  float: left;
  background: $color-article-background;
  color: $color-article-text;
}

.col a{
  font-size: 1.5em;
}

.products, .product-details{
  padding: 3% 0 7%;
}

.product-details{
width: 72%;
margin: 0 auto;
}
